<div class="hamburger js-hamburger">
	<img class="hamburger__icon" src="{{theme.link}}/assets/img/icons/utility/hamburger.svg" alt="{{site.name}} - {{site.description}}">
</div>

<nav class="navmenu js-navmenu">
	{% for item in header_menu.items %}
		<a class="navmenu__link" href="{{ item.link }}">
			<div class="navmenu__item {{ item.classes|join(' ') }}">
				{{ item.title }}
			</div>
		</a>
	{% endfor %}
</nav>
