{% extends "index.twig" %}

{% block content %}
	<div class="margin-bottom--md">
		{% if title %}
			<h1>{{title}}</h1>
		{% endif %}
		{% if posts %}
			<p class="archive-description">Op deze pagina vindt u mijn projecten.</p>
		{% endif %}
	</div>

	{% if projects is not empty %}
		<ul class="archive-items">
			{% for project in projects %}
				<li class="archive-item archive-item--{{project.post_type}}">
					<a href="{{project.link}}" class="archive-item__link">
						<img src="{{project.thumbnail.src}}" alt="{{project.thumbnail.alt}}" class="archive-item__image">
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}


{% endblock %}
