{% extends "base.twig" %}

{% block content %}
	{% if projects is not empty %}
		<section class="recent-work" id="work">
			<div class="container">
				<div class="section__header">
					<h2 class="section__title">Recent werk</h2>
					<p class="section__text">Bekijk hier een samenstelling van mijn meest recente projecten.</p>
				</div>
				<div class="section__body">
					<div class="archive-items grid-column--two">
						{% for project in projects|slice(0,2) %}
							{% include "partials/archive-item.twig" %}
						{% endfor %}
					</div>
				</div>
				<div class="section__footer projects">
					<a href="{{site.link}}/portfolio" class="button">Bekijk portfolio</a>
				</div>
			</div>
		</section>
		<section class="tools">
			<div class="container">
				<div class="section__header">
					<h2 class="section__title">Met wat werk ik?</h2>
					<p class="section__text">De onderstaande technieken en applicaties gebruik ik bij de bouw van websites.</p>
				</div>
				<div class="section__body">
					<div class="tools-container">
						<div class="tool">
							<img src="{{theme.link}}/assets/img/icons/brand/wordpress.svg" alt="Met wat maak ik uw websites?" class="tool__image">
							<div class="tool__text">WordPress</div>
						</div>
						<div class="tool">
							<img src="{{theme.link}}/assets/img/icons/brand/timber.svg" alt="Met wat maak ik uw websites?" class="tool__image timber">
							<div class="tool__text">Timber</div>
						</div>
						<div class="tool">
							<img src="{{theme.link}}/assets/img/icons/brand/acf.svg" alt="Met wat maak ik uw websites?" class="tool__image acf">
							<div class="tool__text">Advanced Custom Fields</div>
						</div>
						<div class="tool">
							<img src="{{theme.link}}/assets/img/icons/brand/figma.svg" alt="Met wat maak ik uw websites?" class="tool__image figma">
							<div class="tool__text">Figma</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
