{% extends "base.twig" %}

{% block content %}

	<section class="project">
		{% if posts is not empty %}
			<div class="section-header grid grid-column--two gap--md">
				<div class="section-description">
					<h1 class="section__title">{{post.title}}</h1>
					<div class="section__text">{{post.content}}</div>
				</div>
				<div class="services-container">
					<h2>Services</h2>
					<div class="services">
						{% for tag in post.tags() %}
							<a href="{{tag.link}}" class="service">{{tag.name}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			{% if post.meta('url') %}
				<a href="{{post.meta('url')}}" target="_blank" class="button project-url-button">Bekijk website</a>
			{% endif %}
		{% endif %}
	</section>

	<section class="more-projects">
		{% if projects is not empty %}
			<hr class="no-margin divider full-width">
			<h2 class="title--sm">Meer projecten</h2>
			<div class="archive-items grid grid-column--two">
				{% for project in projects|slice(0,2) %}
					{% include "partials/archive-item.twig" %}
				{% endfor %}
			</div>
		{% endif %}
	</section>

{% endblock %}
