{% extends "base.twig" %}

{% block content %}
	{% if posts is not empty %}
		{% for post in posts %}
			<article class="post">
				<h1 class="post__title">{{post.title}}</h2>
				<div class="post__content">{{post.content}}</div>
			</article>
		{% endfor %}
	{% endif %}

	{% if post.meta('project_item_gallery') is not empty %}
		<div class="owl-carousel owl-theme margin--lg">
			{% for item in post.meta('project_item_gallery') %}
				<img src="{{Image(item.image).src}}" {% if Image(item.image).alt %} alt="{{Image(item.image).alt}}" {% endif %} class="carousel__item">
			{% endfor %}
		</div>
	{% else %}
		<div class="margin-bottom--md"></div>
	{% endif %}

	{% if projects is not empty %}
		<h3 class="title--sm">Meer projecten</h3>
		<ul class="archive-items">
			{% for project in projects %}
				<li class="archive-item archive-item--{{project.post_type}}">
					<a href="{{project.link}}" class="archive-item__link">
						<img src="{{project.thumbnail.src}}" alt="{{project.thumbnail.alt}}" class="archive-item__image">
					</a>
				</li>
			{% endfor %}
		</ul>
		<a href="{{site.link}}/projects" class="link margin-top--md">Bekijk portfolio</a>
	{% endif %}

{% endblock %}
