{% if fn('is_page', 'contact') != 'contact' %}
	<div class="cta-container">
		<h2 class="cta-container__title">Heeft mijn portfolio uw interesse gewekt?</h2>
		<p class="cta-container__text">{{cta_text}}</p>
		<div class="cta-container__cta-buttons">
			<a href="{{site.link}}/contact" class="button cta-container__button">Neem contact op</a>
			<a href="{{theme.link}}/assets/resources/resume.pdf" target="_blank" class="button button--border cta-container__button" download>Download C.V.</a>
		</div>
	</div>
	<hr class="hr--inverse divider">
{% endif %}

<div class="footer-container">
	<div class="site-information">
		{% include "partials/logo.twig" %}
		<div class="copyright">Copyright
			{{"now"|date('Y')}}</div>
	</div>
	<div class="links-container">
		<div class="footer-item">
			<div class="footer-item__title">Contactgegevens</div>
			<div class="contact-links">
				<div>
					<a href="mailto:info@tomgraafmans.com">info@tomgraafmans.com</a>
				</div>
				<div>
					<a href="callto:+31622785388">+31(6) 22 78 53 88</a>
				</div>
			</div>
		</div>
		<div class="footer-item">
			<div class="footer-item__title">Site Links</div>
			{% for item in footer_menu.items %}
				<a class="footer-item__link{{ item.classes|join(' ') }}" href="{{ item.link }}">
					{{ item.title }}
				</a>
			{% endfor %}
		</div>
		<div class="footer-item">
			<div class="footer-item__title">Social Links</div>
			{% for item in social_menu.items %}
				<a class="footer-item__link{{ item.classes|join(' ') }}" href="{{ item.link }}" target="_blank">
					{{ item.title }}
				</a>
			{% endfor %}
		</div>
	</div>
</div>

{# Theme Scripts #}
<script src="{{theme.link}}/assets/js/custom.min.js"></script>
<script src="{{theme.link}}/assets/js/vendor.min.js"></script>
{# Typed Scripts #}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
{# Typed Options #}
<script>
	var typed = new Typed('.hero__content span', {
strings: [
'die opvallen', 'die converteren', 'die groei stimuleren', 'waar klanten van houden'
],
loop: true,
stringsElement: null,
typeSpeed: 80,
startDelay: 500,
backSpeed: 50,
backDelay: 1000
});
</script>

{# AOS #}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{# Initalize AOS #}
<script>
	AOS.init({once: true});
</script>

{{ function('wp_footer') }}
