{% if fn('is_page', 'contact') %}
	<hr class="margin-bottom--lg">
{% else %}
<div class="cta-container margin-bottom--md">
	<div class="container flex flex-direction--column align-items--center">
		<h2 class="cta__text">Heeft mijn portfolio uw interesse gewekt?</h2>
		<a href="{{site.link}}/contact" class="link link--cta">Neem contact op</a>
	</div>
</div>
{% endif %}

<div class="social-container margin-bottom--md">
	<div class="container">
		<div class="social__icons">
			<a href="https://www.linkedin.com/in/tomgraafmans/" class="social__icon" target="_blank">
				<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-4 0v7h-4v-7a6 6 0 016-6v0zM6 9H2v12h4V9zM4 6a2 2 0 100-4 2 2 0 000 4z" stroke="#572052" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
			</a>
			<a href="https://www.github.com/varvino" class="social__icon" target="_blank">
				<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 22v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22m0-3c-5 1.5-5-2.5-7-3l7 3z" stroke="#572052" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
			</a>
			<a href="{{site.link}}/contact-details" class="social__icon">
				<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V8l-6-6z" stroke="#572052" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14 2v6h6m-4 5H8m8 4H8m2-8H8" stroke="#572052" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
			</a>
		</div>
	</div>
</div>

<div class="container margin-bottom--md">
	<div class="text-align--center text--muted">
		Copyright
		{{"now"|date('Y')}}
		&mdash; Tom Graafmans
	</div>
</div>

<script src="{{site.theme.link}}/assets/js/vendor.min.js"></script>
<script src="{{site.theme.link}}/assets/js/custom.min.js?id=2403"></script>

{{ function('wp_footer') }}
